.btn {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; 
  transition-duration: 0.4s;
  border-radius: 10%;
  padding:10px;
}

.btn:hover {
  background-color: #04AA6D; 
  color: white;
  cursor: pointer;
}

